* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

p {
    margin: 0px;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}


img {
    max-width: 100%;
    height: 100%;
}

.padding_lert2 {
    padding-left: 0;
}

.banner_main {
background:url(../images/banner.png);
padding: 90px 0 300px 0;
display: flex;
align-items: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;   
}

.text-bg {
text-align: left;
text-align: left;
max-width: 542px;
float: right;
width: 100%;
}

.text-bg h1 {
    color: #ffe25b;
    font-size: 70px;
    padding-top: 40px;
    line-height: 80px;
    padding-bottom: 35px;
    font-weight: bold;
}

.text-bg span {
    color: #fff;
    font-size: 45px;
    line-height: 65px;
    font-weight: 500;
    padding-bottom: 20px;
    display: block;
}

.text-bg strong {
    color: #fff;
    font-size: 60px;
    line-height: 65px;
    font-weight: 600;
    padding-bottom: 30px;
    display: block; 
}

.text-bg p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 60px;
}


.text-img figure {
    margin: 0;
}

.text-img figure img {
    width: 100%;
}

.text-bg a {
    font-size: 17px;
    background-color: transparent;
    border:#ddd solid 2px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    padding: 13px 0px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
}

.text-bg a:hover {
    background-color: #d0b608;
    color: #fff;
    transition: ease-in all 0.5s;
}

.titlepage {
    text-align: center;
    padding-bottom: 60px;
}
.titlepage span {color: #d8bd08; font-weight: 500; font-size: 20px;}

.titlepage h2 {
    font-size: 55px;
    color: #12153c;
    line-height: 55px;
    font-weight: bold;
    padding: 0;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.website{
    background-color: #f3f2f2;
    padding: 90px 0;
    margin-top: 90px;
}

.website.titlepage {
    text-align: left;
    padding-bottom: 35px;
}

.website.titlepage h2 {
    color: #02185b;
}
